{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div style="color: white; display: flex; flex-direction: column; align-items: center; text-align: center;">
    <h1>Processed Image</h1>
    <img id="processedImage" src="{{ processed_image_url }}" alt="Processed Image" style="max-width: 400px; height: auto; margin-bottom: 20px;">
    <p>
        Image processed using the {{ algorithm|upper }} algorithm with k={{ k }}
        {% if sigma and algorithm == 'gmm' %} and sigma={{ sigma }}{% endif %}
        {% if downsample_factor and algorithm == 'agglomerative' %} and downsample factor={{ downsample_factor }}{% endif %}.
    </p>

    <p>Processing time: {{ processing_time }} seconds</p>
    <p>Silhouette Score: {{ silhouette_score }}</p>

    <br>
    <a href="{{ pdf_url }}" download="report.pdf">Download PDF Report</a>
    <br>

    <!-- Form to change parameters -->
    <form id="changeParametersForm" action="{% url 'edit_parameters' filename %}" method="get" style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-secondary">Change Parameters</button>
    </form>
    
    <!-- Form to upload a new image -->
    <form id="uploadNewImageForm" method="post" enctype="multipart/form-data" action="{% url 'image_upload' %}" style="margin-bottom: 20px;">
        {% csrf_token %}
        <input type="file" name="image_file" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary">Upload New Image</button>
    </form>

    <div style="width: 60%; max-width: 600px; display: flex; justify-content: center; margin-bottom: 20px;">
        <iframe src="{{ plot3d_url }}" width="100%" height="500" style="margin: 0 auto;"></iframe>
    </div>

    <h2>2D Color Distribution Plot (Red vs Green)</h2>
    <img src="{{ plot2d_url_rg }}" alt="2D Color Distribution Plot (Red vs Green)" style="width: 80%; max-width: 600px; margin-bottom: 20px;">

    <h2>2D Color Distribution Plot (Green vs Blue)</h2>
    <img src="{{ plot2d_url_gb }}" alt="2D Color Distribution Plot (Green vs Blue)" style="width: 80%; max-width: 600px; margin-bottom: 20px;">

    <h2>2D Color Distribution Plot (Blue vs Red)</h2>
    <img src="{{ plot2d_url_br }}" alt="2D Color Distribution Plot (Blue vs Red)" style="width: 80%; max-width: 600px; margin-bottom: 20px;">
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        // Setup AJAX with CSRF token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        const csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // Your existing AJAX call here
        $('#processingForm').submit(function(e) {
            e.preventDefault(); // Prevent default form submission
            var formData = new FormData(this);

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                success: function(data) {
                    // Update the image source with the new URL
                    $('#processedImage').attr('src', data.new_image_url);
                },
                error: function() {
                    alert("There was an error processing the image.");
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
</script>
{% endblock %}
